*{margin: 0; padding: 0; box-sizing: border-box;}
a:link,a:visited{
    text-decoration: none;
    color: #333;
}
ul,li{list-style: none;}

.commList{
  width: 400px;
}
.commList li{
  display: flex;
  justify-content: space-between;
  margin-bottom: 5px;
}

.btn{
  display: inline-block;
  padding: 0 12px;
  background: skyblue;
  border-radius: 10px;
  font-size: 0.8em;
  color: white;
  cursor: pointer;
}